#alert-variant(@background; @border; @color; @link-color: darken(@color, 10%); @hr-color: darken(@border, 5%)) {
	color:        @color;
	#gradient-bg(@background);
	border-color: @border;

	hr {
		border-top-color: @hr-color;
	}

	.alert-link {
		color: @link-color;
	}
}