#alert-variant(@background; @border; @color; @color-link: darken(@color, 10%)) {
  color:            @color;
  background-color: @background;
  border-color:     @border;

  .alert-link {
    color:          @color-link;
  }
}